<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-2 custom-border-right text-center  mt-1">
    <img src="assets/prod.jpg" width="100px" height="140px">
  </div>

  <!-- details article-->
  <div class="col-md-4 custom-border-right ">
    <div class="col mt-4">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info blue-color"></i></div>
        <div class="col-md-11">code article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-signature blue-color"></i></div>
        <div class="col-md-11">libelle</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">24.650 DT TTC</div>
      </div>

    </div>
  </div>
  <!-- details categorie-->
  <div class="col-md-3 custom-border-right ">
    <div class="row mb-1 mt-5">
      <div class="col-md-2 custom-border-right mb-2 mt-2">
        <i class="fas fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">code catégorie</div>
          <div class="col-md-12">libellé</div>
        </div>
      </div>
    </div>
  </div>

  <!-- action buttons-->
  <div class="col-md-3 mb-1 mt-5">
    <div class="row">
      <div class="col-md-4">
        <app-update-ones-article></app-update-ones-article>
      </div>
      <div class="col-md-4">
        <app-delete-ones-article></app-delete-ones-article>
      </div>
      <div class="col-md-4">
        <app-detail-ones-article></app-detail-ones-article>
      </div>
    </div>
  </div>
</div>
