<div class="container my-container ">
  <div class="card justify-content-md-center">
    <div class="card-header text-center">
      <h3>S'inscrire</h3>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom" >
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Prénom" >
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Numéro de Téléphone" >
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Adresse" >
      </div>
      <div class="mb-3">
        <input type="E-mail" class="form-control" placeholder="E-mail" >
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Mot de passe" >
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirmer mot de passe" >
      </div>
      <div class="mb-3">
        <select class="form-select">
          <option selected>choisir votre rôle</option>
          <option value="1">Administrateur</option>
          <option value="2"> Fournisseur </option>
          <option value="3"> Utilisateur </option>
        </select>
      </div>

      <div class="mb-3 d-flex justify-content-between">
        <a  [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
        <button type="button" class="btn btn-primary"><i class="far fa-check-circle"></i>&nbsp; S'inscrire</button>
      </div>
    </div>
  </div>
</div>

