<div class="col" >
  <div class="row m-3">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Gestion de <b>articles</b></h2>
        </div>
        <div class="col-sm-6">
          <div class="col">
            <div class="d-flex">
              <div class="p-2 flex-fill">
                <button type="button" class="btn btn-success">
                  <i class="fas fa-download"></i>&nbsp;Exporter
                </button>
              </div>
              <div class="p-2 flex-fill">
                <app-nouvel-article></app-nouvel-article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col m-2" >
    <app-details-article></app-details-article>
  </div>
  <div class="row mb-3" >
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
